<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

	<servlet>
		<servlet-name>vs</servlet-name>
		<jsp-file>/WEB-INF/views/index.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>vs</servlet-name>
		<url-pattern>/vs</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
